# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="pic1.png"/>

Then you will want to run the above command:

<img src="pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

In [1]:
import pandas as pd
import numpy as np
import math
import json
% matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [2]:
portfolio

,channels,difficulty,duration,id,offer_type,reward
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2

In [3]:
profile.head()

   age  became_member_on gender                                id    income
0  118          20170212   None  68be06ca386d4c31939f3a4f0e3dd783       NaN
1   55          20170715      F  0610b486422d4921ae7d2bf64640c50b  112000.0
2  118          20180712   None  38fe809add3b4fcf9315a9694bb96ff5       NaN
3   75          20170509      F  78afa995795e4d85b5d9ceeca43f5fef  100000.0
4  118          20170804   None  a03223e636434f42ac4c3df47e8bac43       NaN

In [4]:
transcript.head()

,event,person,time,value
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2,offer received,e2127556f4f64592b11af22de27a7932,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}

In [5]:
# First things first, let's change the user ids to look more clean.

def id_mapper(column):
    coded_dict = dict()
    counter = 1
    id_encoded = []
    
    for val in column:
        if val not in coded_dict:
            coded_dict[val] = counter
            counter+=1
        
        id_encoded.append(coded_dict[val])
    return id_encoded, coded_dict

In [6]:
user_id_encoded, user_coded_dict = id_mapper(profile['id'])

In [7]:
profile['user_id'] = user_id_encoded

In [8]:
del profile['id']

In [9]:
len(user_id_encoded)

17000

In [10]:
offer_id_encoded, offer_coded_dict = id_mapper(portfolio['id'])

In [11]:
for val in transcript['value']:
    if 'offer id' in val:
        val['offer id'] = offer_coded_dict.get(val['offer id'])
    else:
        pass

In [12]:
transcript

,event,person,time,value
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': 4}
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': 5}
2,offer received,e2127556f4f64592b11af22de27a7932,0,{'offer id': 10}
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 7}
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': 2}
5,offer received,389bc3fa690240e798340f5a15918d5c,0,{'offer id': 9}
6,offer received,c4863c7985cf408faee930f111475da3,0,{'offer id': 6}
7,offer received,2eeac8d8feae4a8cad5a6af0499a211d,0,{'offer id': 3}
8,offer received,aa4862eba776480b8bb9c68455b8c2e1,0,{'offer id': 5}
9,offer received,31dda685af34476cad5bc968bdb01c53,0,{'offer id': 5}
10,offer received,744d603ef08c4f33af5a61c8c7628d1c,0,{'offer id': 5}
11,offer received,3d02345581554e81b7b289ab5e288078,0,{'offer id': 5}
12,offer received,4b0da7e80e5945209a1fdddfe813dbe0,0,{'offer id': 1}
13,offer received,c27e0d6ab72c455a8bb66d980963de60,0,{'offer id': 3}
14,offer received,d53717f5400c4e84affdaeda9dd926b3,0,{'offer id': 5}
15,offer received,f806632c011441378d4646567f357a21,0,{'offer id': 7}
16,offer received,d058f73bf8674a26a95227db098147b1,0,{'offer id': 5}
17,offer received,65aba5c617294649aeb624da249e1ee5,0,{'offer id': 10}
18,offer received,ebe7ef46ea6f4963a7dd49f501b26779,0,{'offer id': 4}
19,offer received,1e9420836d554513ab90eba98552d0a9,0,{'offer id': 1}
20,offer received,868317b9be554cb18e50bc68484749a2,0,{'offer id': 10}
21,offer received,f082d80f0aac47a99173ba8ef8fc1909,0,{'offer id': 4}
22,offer received,102e9454054946fda62242d2e176fdce,0,{'offer id': 2}
23,offer received,4beeb3ed64dd4898b0edf2f6b67426d3,0,{'offer id': 10}
24,offer received,9f30b375d7bd4c62a884ffe7034e09ee,0,{'offer id': 6}
25,offer received,25c906289d154b66bf579693f89481c9,0,{'offer id': 10}
26,offer received,6e014185620b49bd98749f728747572f,0,{'offer id': 9}
27,offer received,02c083884c7d45b39cc68e1314fec56c,0,{'offer id': 1}
28,offer received,c0d210398dee4a0895b24444a5fcd1d2,0,{'offer id': 4}
29,offer received,8be4463721e14d7fa600686bf8c8b2ed,0,{'offer id': 7}
...,...,...,...,...
306504,transaction,8524d450673b4c24869b6c94380006de,714,{'amount': 4.89}
306505,transaction,b895c57e8cd047a8872ce02aa54759d6,714,{'amount': 4.48}
306506,offer completed,b895c57e8cd047a8872ce02aa54759d6,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306507,offer viewed,8dda575c2a1d44b9ac8e8b07b93d1f8e,714,{'offer id': 5}
306508,transaction,8431c16f8e1d440880db371a68f82dd0,714,{'amount': 1.19}
306509,offer completed,8431c16f8e1d440880db371a68f82dd0,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306510,transaction,ba620885e51c4b0ea64a4f61daad494f,714,{'amount': 14.31}
306511,transaction,a1a8f40407c444cc848468275308958a,714,{'amount': 2.37}
306512,transaction,8d80970192fa496f99d6b45c470a4b60,714,{'amount': 6.92}
306513,transaction,bde275066f3c4fa0bff3093e3b866a2c,714,{'amount': 12.73}
306514,transaction,f1e4fd36e5a0446f83861308bddf6945,714,{'amount': 8.2}
306515,transaction,0b64be3b241c4407a5c9a71781173829,714,{'amount': 2.6}
306516,transaction,86d03d35d7e0434b935e7743e83be3a0,714,{'amount': 9.2}
306517,transaction,3408fd05c781401f8442fb6dbaaea9c7,714,{'amount': 11.7}
306518,transaction,1593d617fac246ef8e50dbb0ffd77f5f,714,{'amount': 40.67}
306519,transaction,f1b31d07b5d84f69a2d5f1d07843989e,714,{'amount': 31.13}
306520,transaction,2ce987015ec0404a97ba333e8e814090,714,{'amount': 1.6400000000000001}
306521,transaction,2e33545f0a764d27b2ccff95fc8d72c4,714,{'amount': 17.35}
306522,transaction,d1c4500ace2e45e9a45d3cd2fccac8d8,714,{'amount': 4.42}
306523,transaction,b65affd9e07346a1906364a396950e3d,714,{'amount': 18.35}
306524,transaction,d613ca9c59dd42f497bdbf6178da54a7,714,{'amount': 25.14}
306525,transaction,eec70ab28af74a22a4aeb889c0317944,714,{'amount': 43.58}
306526,transaction,24f56b5e1849462093931b164eb803b5,714,{'amount': 22.64}
306527,offer completed,24f56b5e1849462093931b164eb803b5,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306528,transaction,5ca2620962114246ab218fc648eb3934,714,{'amount': 2.2}
306529,transaction,b3a1272bc9904337b331bf348c3e8c17,714,{'amount': 1.5899999999999999}
306530,transaction,68213b08d99a4ae1b0dcb72aebd9aa35,714,{'amount': 9.53}
306531,transaction,a00058cf10334a308c68e7631c529907,714,{'amount': 3.61}
306532,transaction,76ddbd6576844afe811f1a3c0fbb5bec,714,{'amount': 3.5300000000000002}
306533,transaction,c02b10e8752c4d8e9b73f918558531f7,714,{'amount': 4.05}

In [13]:
for val in transcript['value']:
    if 'offer_id' in val:
        val['offer_id'] = offer_coded_dict.get(val['offer_id'])
    else:
        pass

In [14]:
def code_to_id(val):
    val = user_coded_dict.get(val)
    return val

In [15]:
transcript['person'] = transcript['person'].apply(lambda x: code_to_id(x))

In [16]:
transcript

                  event  person  time                           value
0        offer received       4     0                 {'offer id': 4}
1        offer received       5     0                 {'offer id': 5}
2        offer received       6     0                {'offer id': 10}
3        offer received       7     0                 {'offer id': 7}
4        offer received       8     0                 {'offer id': 2}
5        offer received       9     0                 {'offer id': 9}
6        offer received      11     0                 {'offer id': 6}
7        offer received      13     0                 {'offer id': 3}
8        offer received      14     0                 {'offer id': 5}
9        offer received      16     0                 {'offer id': 5}
10       offer received      18     0                 {'offer id': 5}
11       offer received    3747     0                 {'offer id': 5}
12       offer received      22     0                 {'offer id': 1}
13       offer received      23     0                 {'offer id': 3}
14       offer received   13432     0                 {'offer id': 5}
15       offer received      25     0                 {'offer id': 7}
16       offer received      26     0                 {'offer id': 5}
17       offer received      27     0                {'offer id': 10}
18       offer received      30     0                 {'offer id': 4}
19       offer received      33     0                 {'offer id': 1}
20       offer received      34     0                {'offer id': 10}
21       offer received      35     0                 {'offer id': 4}
22       offer received      36     0                 {'offer id': 2}
23       offer received      37     0                {'offer id': 10}
24       offer received      39     0                 {'offer id': 6}
25       offer received      40     0                {'offer id': 10}
26       offer received      41     0                 {'offer id': 9}
27       offer received      42     0                 {'offer id': 1}
28       offer received      43     0                 {'offer id': 4}
29       offer received      46     0                 {'offer id': 7}
...                 ...     ...   ...                             ...
306504      transaction   16757   714                {'amount': 4.89}
306505      transaction   16765   714                {'amount': 4.48}
306506  offer completed   16765   714    {'offer_id': 7, 'reward': 2}
306507     offer viewed   16766   714                 {'offer id': 5}
306508      transaction   16768   714                {'amount': 1.19}
306509  offer completed   16768   714    {'offer_id': 7, 'reward': 2}
306510      transaction   16769   714               {'amount': 14.31}
306511      transaction   16782   714                {'amount': 2.37}
306512      transaction   16815   714                {'amount': 6.92}
306513      transaction   16816   714               {'amount': 12.73}
306514      transaction   16837   714                 {'amount': 8.2}
306515      transaction   16848   714                 {'amount': 2.6}
306516      transaction   16849   714                 {'amount': 9.2}
306517      transaction   16850   714                {'amount': 11.7}
306518      transaction   16865   714               {'amount': 40.67}
306519      transaction   16866   714               {'amount': 31.13}
306520      transaction   16901   714  {'amount': 1.6400000000000001}
306521      transaction   16913   714               {'amount': 17.35}
306522      transaction   16915   714                {'amount': 4.42}
306523      transaction   16919   714               {'amount': 18.35}
306524      transaction   16935   714               {'amount': 25.14}
306525      transaction   16936   714               {'amount': 43.58}
306526      transaction   16950   714               {'amount': 22.64}
306527  offer completed   16950   714    {'offer_id': 7, 'reward': 2}
306528      transaction   16952   714                 {'amount': 2.2}
306529      transaction   16960   714  {'amount': 1.5899999999999999}
306530      transaction   16965   714                {'amount': 9.53}
306531      transaction   16980   714                {'amount': 3.61}
306532      transaction   16988   714  {'amount': 3.5300000000000002}
306533      transaction   16995   714                {'amount': 4.05}

[306534 rows x 4 columns]

In [17]:
portfolio

,channels,difficulty,duration,id,offer_type,reward
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2

In [18]:
transcript.groupby('person')['event'].count()

person
1        21
2         6
3        10
4        18
5        11
6        12
7        10
8        11
9        20
10       14
11       16
12       17
13       10
14       19
15       19
16       23
17       15
18       15
19       14
20       12
21       30
22       19
23       21
24       15
25       16
26       19
27       26
28       19
29        6
30       26
         ..
16971    16
16972    18
16973    16
16974    33
16975    20
16976     9
16977    19
16978    15
16979    23
16980    33
16981    16
16982    12
16983    29
16984    15
16985    19
16986    13
16987    13
16988    20
16989    20
16990    12
16991    29
16992    10
16993    13
16994     9
16995    16
16996    13
16997    12
16998    12
16999    23
17000    14
Name: event, Length: 17000, dtype: int64

In [19]:
del profile['became_member_on']

In [20]:
transcript

                  event  person  time                           value
0        offer received       4     0                 {'offer id': 4}
1        offer received       5     0                 {'offer id': 5}
2        offer received       6     0                {'offer id': 10}
3        offer received       7     0                 {'offer id': 7}
4        offer received       8     0                 {'offer id': 2}
5        offer received       9     0                 {'offer id': 9}
6        offer received      11     0                 {'offer id': 6}
7        offer received      13     0                 {'offer id': 3}
8        offer received      14     0                 {'offer id': 5}
9        offer received      16     0                 {'offer id': 5}
10       offer received      18     0                 {'offer id': 5}
11       offer received    3747     0                 {'offer id': 5}
12       offer received      22     0                 {'offer id': 1}
13       offer received      23     0                 {'offer id': 3}
14       offer received   13432     0                 {'offer id': 5}
15       offer received      25     0                 {'offer id': 7}
16       offer received      26     0                 {'offer id': 5}
17       offer received      27     0                {'offer id': 10}
18       offer received      30     0                 {'offer id': 4}
19       offer received      33     0                 {'offer id': 1}
20       offer received      34     0                {'offer id': 10}
21       offer received      35     0                 {'offer id': 4}
22       offer received      36     0                 {'offer id': 2}
23       offer received      37     0                {'offer id': 10}
24       offer received      39     0                 {'offer id': 6}
25       offer received      40     0                {'offer id': 10}
26       offer received      41     0                 {'offer id': 9}
27       offer received      42     0                 {'offer id': 1}
28       offer received      43     0                 {'offer id': 4}
29       offer received      46     0                 {'offer id': 7}
...                 ...     ...   ...                             ...
306504      transaction   16757   714                {'amount': 4.89}
306505      transaction   16765   714                {'amount': 4.48}
306506  offer completed   16765   714    {'offer_id': 7, 'reward': 2}
306507     offer viewed   16766   714                 {'offer id': 5}
306508      transaction   16768   714                {'amount': 1.19}
306509  offer completed   16768   714    {'offer_id': 7, 'reward': 2}
306510      transaction   16769   714               {'amount': 14.31}
306511      transaction   16782   714                {'amount': 2.37}
306512      transaction   16815   714                {'amount': 6.92}
306513      transaction   16816   714               {'amount': 12.73}
306514      transaction   16837   714                 {'amount': 8.2}
306515      transaction   16848   714                 {'amount': 2.6}
306516      transaction   16849   714                 {'amount': 9.2}
306517      transaction   16850   714                {'amount': 11.7}
306518      transaction   16865   714               {'amount': 40.67}
306519      transaction   16866   714               {'amount': 31.13}
306520      transaction   16901   714  {'amount': 1.6400000000000001}
306521      transaction   16913   714               {'amount': 17.35}
306522      transaction   16915   714                {'amount': 4.42}
306523      transaction   16919   714               {'amount': 18.35}
306524      transaction   16935   714               {'amount': 25.14}
306525      transaction   16936   714               {'amount': 43.58}
306526      transaction   16950   714               {'amount': 22.64}
306527  offer completed   16950   714    {'offer_id': 7, 'reward': 2}
306528      transaction   16952   714                 {'amount': 2.2}
306529      transaction   16960   714  {'amount': 1.5899999999999999}
306530      transaction   16965   714                {'amount': 9.53}
306531      transaction   16980   714                {'amount': 3.61}
306532      transaction   16988   714  {'amount': 3.5300000000000002}
306533      transaction   16995   714                {'amount': 4.05}

[306534 rows x 4 columns]

In [21]:
transcript.rename(columns={'person': 'user_id'}, inplace=True)

In [22]:
df = transcript.merge(profile, on='user_id', how='inner')

In [23]:
df.head()

,event,user_id,time,value,age,gender,income
0,offer received,4,0,{'offer id': 4},75,F,100000.0
1,offer viewed,4,6,{'offer id': 4},75,F,100000.0
2,transaction,4,132,{'amount': 19.89},75,F,100000.0
3,offer completed,4,132,"{'offer_id': 4, 'reward': 5}",75,F,100000.0
4,transaction,4,144,{'amount': 17.78},75,F,100000.0

In [24]:
for val in df['value']:
    if next(iter(val)) == 'offer_id':
        val['offer id'] = val.pop('offer_id')

In [25]:
df['event'].value_counts()

transaction        138953
offer received      76277
offer viewed        57725
offer completed     33579
Name: event, dtype: int64

In [26]:
df_viewed = df[df['event'] == 'offer viewed']

In [27]:
df_viewed

               event  user_id  time             value  age gender    income
1       offer viewed        4     6   {'offer id': 4}   75      F  100000.0
6       offer viewed        4   216   {'offer id': 8}   75      F  100000.0
11      offer viewed        4   408   {'offer id': 1}   75      F  100000.0
17      offer viewed        4   582   {'offer id': 9}   75      F  100000.0
19      offer viewed        5     6   {'offer id': 5}  118   None       NaN
23      offer viewed        5   336   {'offer id': 3}  118   None       NaN
28      offer viewed        5   624   {'offer id': 5}  118   None       NaN
30      offer viewed        6    18  {'offer id': 10}   68      M   70000.0
35      offer viewed        6   420   {'offer id': 4}   68      M   70000.0
37      offer viewed        6   522   {'offer id': 7}   68      M   70000.0
42      offer viewed        7    12   {'offer id': 7}  118   None       NaN
44      offer viewed        7   216   {'offer id': 2}  118   None       NaN
46      offer viewed        7   366   {'offer id': 3}  118   None       NaN
48      offer viewed        7   462  {'offer id': 10}  118   None       NaN
50      offer viewed        7   522   {'offer id': 7}  118   None       NaN
52      offer viewed        8    84   {'offer id': 2}  118   None       NaN
55      offer viewed        8   348   {'offer id': 6}  118   None       NaN
58      offer viewed        8   432  {'offer id': 10}  118   None       NaN
60      offer viewed        8   648   {'offer id': 4}  118   None       NaN
63      offer viewed        9     0   {'offer id': 9}   65      M   53000.0
67      offer viewed        9   192   {'offer id': 4}   65      M   53000.0
69      offer viewed        9   354  {'offer id': 10}   65      M   53000.0
71      offer viewed        9   438   {'offer id': 4}   65      M   53000.0
76      offer viewed        9   504   {'offer id': 9}   65      M   53000.0
78      offer viewed        9   588   {'offer id': 7}   65      M   53000.0
83      offer viewed       11    24   {'offer id': 6}  118   None       NaN
86      offer viewed       11   348   {'offer id': 6}  118   None       NaN
95      offer viewed       11   684   {'offer id': 1}  118   None       NaN
100     offer viewed       13   168   {'offer id': 6}   58      M   51000.0
103     offer viewed       13   348   {'offer id': 7}   58      M   51000.0
...              ...      ...   ...               ...  ...    ...       ...
306417  offer viewed     5609   408   {'offer id': 2}  118   None       NaN
306419  offer viewed     5609   528   {'offer id': 3}  118   None       NaN
306423  offer viewed     5609   582   {'offer id': 2}  118   None       NaN
306430  offer viewed    15393   642   {'offer id': 3}  118   None       NaN
306432  offer viewed    15605   408   {'offer id': 3}   37      F   90000.0
306434  offer viewed    15605   522   {'offer id': 9}   37      F   90000.0
306436  offer viewed    15605   582   {'offer id': 3}   37      F   90000.0
306441  offer viewed    15918   414   {'offer id': 9}   56      M   43000.0
306444  offer viewed    15918   558   {'offer id': 6}   56      M   43000.0
306452  offer viewed    16749   522   {'offer id': 4}   60      F   67000.0
306459  offer viewed    16894   408   {'offer id': 6}   75      M  116000.0
306462  offer viewed    16894   618   {'offer id': 8}   75      M  116000.0
306468  offer viewed     8566   576   {'offer id': 9}  118   None       NaN
306475  offer viewed     9527   534   {'offer id': 9}   58      M  118000.0
306479  offer viewed     9527   582   {'offer id': 2}   58      M  118000.0
306487  offer viewed      915   606   {'offer id': 4}  118   None       NaN
306492  offer viewed    14366   534  {'offer id': 10}   81      F   94000.0
306494  offer viewed      573   504   {'offer id': 9}   75      M   75000.0
306496  offer viewed     2736   516   {'offer id': 9}   60      F   94000.0
306500  offer viewed     2736   594   {'offer id': 6}   60      F   94000.0
306505  offer viewed     8387   540   {'offer id': 1}   24      M   56000.0
306507  offer viewed     8387   630   {'offer id': 1}   24      M   56000.0
306510  offer viewed    10315   510   {'offer id': 1}   58      M   57000.0
306513  offer viewed    10315   582   {'offer id': 9}   58      M   57000.0
306517  offer viewed    14696   504   {'offer id': 2}   48      M   58000.0
306521  offer viewed    16140   504   {'offer id': 3}   47      M   94000.0
306523  offer viewed    16140   576   {'offer id': 2}   47      M   94000.0
306526  offer viewed     2766   588   {'offer id': 7}  118   None       NaN
306530  offer viewed     5105   594   {'offer id': 2}  118   None       NaN
306532  offer viewed    11904   576   {'offer id': 2}   58      F   78000.0

[57725 rows x 7 columns]

In [28]:
df_completed = df[df['event'] == 'offer completed']

In [29]:
df_completed

,event,user_id,time,value,age,gender,income
3,offer completed,4,132,"{'reward': 5, 'offer id': 4}",75,F,100000.0
14,offer completed,4,510,"{'reward': 10, 'offer id': 1}",75,F,100000.0
15,offer completed,4,510,"{'reward': 5, 'offer id': 9}",75,F,100000.0
39,offer completed,6,522,"{'reward': 5, 'offer id': 4}",68,M,70000.0
40,offer completed,6,522,"{'reward': 2, 'offer id': 7}",68,M,70000.0
65,offer completed,9,60,"{'reward': 5, 'offer id': 9}",65,M,53000.0
73,offer completed,9,498,"{'reward': 2, 'offer id': 10}",65,M,53000.0
74,offer completed,9,498,"{'reward': 5, 'offer id': 4}",65,M,53000.0
80,offer completed,9,600,"{'reward': 5, 'offer id': 9}",65,M,53000.0
81,offer completed,9,600,"{'reward': 2, 'offer id': 7}",65,M,53000.0
97,offer completed,11,684,"{'reward': 10, 'offer id': 1}",118,None,NaN
106,offer completed,13,456,"{'reward': 2, 'offer id': 7}",58,M,51000.0
113,offer completed,14,210,"{'reward': 10, 'offer id': 2}",61,F,57000.0
118,offer completed,14,426,"{'reward': 10, 'offer id': 1}",61,F,57000.0
126,offer completed,14,630,"{'reward': 5, 'offer id': 9}",61,F,57000.0
132,offer completed,16,258,"{'reward': 2, 'offer id': 7}",62,F,71000.0
138,offer completed,16,384,"{'reward': 3, 'offer id': 6}",62,F,71000.0
142,offer completed,16,426,"{'reward': 3, 'offer id': 6}",62,F,71000.0
146,offer completed,16,534,"{'reward': 3, 'offer id': 6}",62,F,71000.0
188,offer completed,22,180,"{'reward': 5, 'offer id': 5}",64,M,100000.0
196,offer completed,22,480,"{'reward': 5, 'offer id': 5}",64,M,100000.0
200,offer completed,22,510,"{'reward': 10, 'offer id': 1}",64,M,100000.0
216,offer completed,23,414,"{'reward': 2, 'offer id': 7}",78,F,71000.0
226,offer completed,13432,30,"{'reward': 5, 'offer id': 5}",88,F,53000.0
238,offer completed,13432,624,"{'reward': 5, 'offer id': 5}",88,F,53000.0
243,offer completed,25,126,"{'reward': 2, 'offer id': 7}",42,M,69000.0
247,offer completed,25,210,"{'reward': 10, 'offer id': 2}",42,M,69000.0
252,offer completed,25,462,"{'reward': 2, 'offer id': 7}",42,M,69000.0
262,offer completed,26,192,"{'reward': 5, 'offer id': 5}",56,F,88000.0
263,offer completed,26,192,"{'reward': 2, 'offer id': 10}",56,F,88000.0
...,...,...,...,...,...,...,...
306291,offer completed,7076,498,"{'reward': 3, 'offer id': 6}",87,F,76000.0
306296,offer completed,7076,606,"{'reward': 2, 'offer id': 10}",87,F,76000.0
306297,offer completed,7076,606,"{'reward': 5, 'offer id': 4}",87,F,76000.0
306320,offer completed,10562,576,"{'reward': 10, 'offer id': 1}",32,M,59000.0
306321,offer completed,10562,576,"{'reward': 10, 'offer id': 1}",32,M,59000.0
306329,offer completed,10901,438,"{'reward': 5, 'offer id': 9}",72,F,118000.0
306334,offer completed,10901,570,"{'reward': 2, 'offer id': 7}",72,F,118000.0
306343,offer completed,12130,552,"{'reward': 5, 'offer id': 4}",78,F,78000.0
306344,offer completed,12130,552,"{'reward': 10, 'offer id': 2}",78,F,78000.0
306353,offer completed,12458,546,"{'reward': 2, 'offer id': 10}",67,M,97000.0
306357,offer completed,12458,606,"{'reward': 5, 'offer id': 5}",67,M,97000.0
306364,offer completed,12463,540,"{'reward': 5, 'offer id': 5}",73,F,74000.0
306368,offer completed,12463,612,"{'reward': 10, 'offer id': 2}",73,F,74000.0
306373,offer completed,12603,438,"{'reward': 5, 'offer id': 5}",77,M,96000.0
306384,offer completed,13699,486,"{'reward': 2, 'offer id': 10}",33,M,39000.0
306387,offer completed,13699,510,"{'reward': 10, 'offer id': 2}",33,M,39000.0
306398,offer completed,14436,516,"{'reward': 2, 'offer id': 7}",87,F,95000.0
306399,offer completed,14436,516,"{'reward': 10, 'offer id': 1}",87,F,95000.0
306404,offer completed,14436,588,"{'reward': 2, 'offer id': 7}",87,F,95000.0
306412,offer completed,14506,600,"{'reward': 2, 'offer id': 7}",52,F,86000.0
306413,offer completed,14506,600,"{'reward': 5, 'offer id': 4}",52,F,86000.0
306438,offer completed,15605,600,"{'reward': 5, 'offer id': 9}",37,F,90000.0
306447,offer completed,15918,576,"{'reward': 5, 'offer id': 4}",56,M,43000.0
306454,offer completed,16749,540,"{'reward': 5, 'offer id': 4}",60,F,67000.0
306474,offer completed,9527,510,"{'reward': 5, 'offer id': 9}",58,M,118000.0
306481,offer completed,9527,588,"{'reward': 10, 'offer id': 2}",58,M,118000.0
306490,offer completed,915,678,"{'reward': 5, 'offer id': 4}",118,None,NaN
306498,offer completed,2736,528,"{'reward': 5, 'offer id': 9}",60,F,94000.0
306502,offer completed,2736,654,"{'reward': 3, 'offer id': 6}",60,F,94000.0
306528,offer completed,2766,660,"{'reward': 2, 'offer id': 7}",118,None,NaN

In [33]:
# I will create a column for the offer_id_viewed since it is now inside a dictionary

offer_id_viewed = []

for val in df_viewed['value']:
    offer_id_viewed.append(val['offer id'])

In [36]:
df_viewed['offer_id_viewed'] = offer_id_viewed

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
del df_viewed['value']

In [41]:
df_completed

,event,user_id,time,value,age,gender,income
3,offer completed,4,132,"{'reward': 5, 'offer id': 4}",75,F,100000.0
14,offer completed,4,510,"{'reward': 10, 'offer id': 1}",75,F,100000.0
15,offer completed,4,510,"{'reward': 5, 'offer id': 9}",75,F,100000.0
39,offer completed,6,522,"{'reward': 5, 'offer id': 4}",68,M,70000.0
40,offer completed,6,522,"{'reward': 2, 'offer id': 7}",68,M,70000.0
65,offer completed,9,60,"{'reward': 5, 'offer id': 9}",65,M,53000.0
73,offer completed,9,498,"{'reward': 2, 'offer id': 10}",65,M,53000.0
74,offer completed,9,498,"{'reward': 5, 'offer id': 4}",65,M,53000.0
80,offer completed,9,600,"{'reward': 5, 'offer id': 9}",65,M,53000.0
81,offer completed,9,600,"{'reward': 2, 'offer id': 7}",65,M,53000.0
97,offer completed,11,684,"{'reward': 10, 'offer id': 1}",118,None,NaN
106,offer completed,13,456,"{'reward': 2, 'offer id': 7}",58,M,51000.0
113,offer completed,14,210,"{'reward': 10, 'offer id': 2}",61,F,57000.0
118,offer completed,14,426,"{'reward': 10, 'offer id': 1}",61,F,57000.0
126,offer completed,14,630,"{'reward': 5, 'offer id': 9}",61,F,57000.0
132,offer completed,16,258,"{'reward': 2, 'offer id': 7}",62,F,71000.0
138,offer completed,16,384,"{'reward': 3, 'offer id': 6}",62,F,71000.0
142,offer completed,16,426,"{'reward': 3, 'offer id': 6}",62,F,71000.0
146,offer completed,16,534,"{'reward': 3, 'offer id': 6}",62,F,71000.0
188,offer completed,22,180,"{'reward': 5, 'offer id': 5}",64,M,100000.0
196,offer completed,22,480,"{'reward': 5, 'offer id': 5}",64,M,100000.0
200,offer completed,22,510,"{'reward': 10, 'offer id': 1}",64,M,100000.0
216,offer completed,23,414,"{'reward': 2, 'offer id': 7}",78,F,71000.0
226,offer completed,13432,30,"{'reward': 5, 'offer id': 5}",88,F,53000.0
238,offer completed,13432,624,"{'reward': 5, 'offer id': 5}",88,F,53000.0
243,offer completed,25,126,"{'reward': 2, 'offer id': 7}",42,M,69000.0
247,offer completed,25,210,"{'reward': 10, 'offer id': 2}",42,M,69000.0
252,offer completed,25,462,"{'reward': 2, 'offer id': 7}",42,M,69000.0
262,offer completed,26,192,"{'reward': 5, 'offer id': 5}",56,F,88000.0
263,offer completed,26,192,"{'reward': 2, 'offer id': 10}",56,F,88000.0
...,...,...,...,...,...,...,...
306291,offer completed,7076,498,"{'reward': 3, 'offer id': 6}",87,F,76000.0
306296,offer completed,7076,606,"{'reward': 2, 'offer id': 10}",87,F,76000.0
306297,offer completed,7076,606,"{'reward': 5, 'offer id': 4}",87,F,76000.0
306320,offer completed,10562,576,"{'reward': 10, 'offer id': 1}",32,M,59000.0
306321,offer completed,10562,576,"{'reward': 10, 'offer id': 1}",32,M,59000.0
306329,offer completed,10901,438,"{'reward': 5, 'offer id': 9}",72,F,118000.0
306334,offer completed,10901,570,"{'reward': 2, 'offer id': 7}",72,F,118000.0
306343,offer completed,12130,552,"{'reward': 5, 'offer id': 4}",78,F,78000.0
306344,offer completed,12130,552,"{'reward': 10, 'offer id': 2}",78,F,78000.0
306353,offer completed,12458,546,"{'reward': 2, 'offer id': 10}",67,M,97000.0
306357,offer completed,12458,606,"{'reward': 5, 'offer id': 5}",67,M,97000.0
306364,offer completed,12463,540,"{'reward': 5, 'offer id': 5}",73,F,74000.0
306368,offer completed,12463,612,"{'reward': 10, 'offer id': 2}",73,F,74000.0
306373,offer completed,12603,438,"{'reward': 5, 'offer id': 5}",77,M,96000.0
306384,offer completed,13699,486,"{'reward': 2, 'offer id': 10}",33,M,39000.0
306387,offer completed,13699,510,"{'reward': 10, 'offer id': 2}",33,M,39000.0
306398,offer completed,14436,516,"{'reward': 2, 'offer id': 7}",87,F,95000.0
306399,offer completed,14436,516,"{'reward': 10, 'offer id': 1}",87,F,95000.0
306404,offer completed,14436,588,"{'reward': 2, 'offer id': 7}",87,F,95000.0
306412,offer completed,14506,600,"{'reward': 2, 'offer id': 7}",52,F,86000.0
306413,offer completed,14506,600,"{'reward': 5, 'offer id': 4}",52,F,86000.0
306438,offer completed,15605,600,"{'reward': 5, 'offer id': 9}",37,F,90000.0
306447,offer completed,15918,576,"{'reward': 5, 'offer id': 4}",56,M,43000.0
306454,offer completed,16749,540,"{'reward': 5, 'offer id': 4}",60,F,67000.0
306474,offer completed,9527,510,"{'reward': 5, 'offer id': 9}",58,M,118000.0
306481,offer completed,9527,588,"{'reward': 10, 'offer id': 2}",58,M,118000.0
306490,offer completed,915,678,"{'reward': 5, 'offer id': 4}",118,None,NaN
306498,offer completed,2736,528,"{'reward': 5, 'offer id': 9}",60,F,94000.0
306502,offer completed,2736,654,"{'reward': 3, 'offer id': 6}",60,F,94000.0
306528,offer completed,2766,660,"{'reward': 2, 'offer id': 7}",118,None,NaN

In [42]:
offer_id_completed = []
reward = []
for val in df_completed['value']:
    offer_id_completed.append(val['offer id'])
    reward.append(val['reward'])

In [44]:
df_completed['offer_id_completed'] = offer_id_completed
df_completed['reward'] = reward

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [46]:
del df_completed['value']

In [47]:
df_completed

,event,user_id,time,age,gender,income,offer_id_completed,reward
3,offer completed,4,132,75,F,100000.0,4,5
14,offer completed,4,510,75,F,100000.0,1,10
15,offer completed,4,510,75,F,100000.0,9,5
39,offer completed,6,522,68,M,70000.0,4,5
40,offer completed,6,522,68,M,70000.0,7,2
65,offer completed,9,60,65,M,53000.0,9,5
73,offer completed,9,498,65,M,53000.0,10,2
74,offer completed,9,498,65,M,53000.0,4,5
80,offer completed,9,600,65,M,53000.0,9,5
81,offer completed,9,600,65,M,53000.0,7,2
97,offer completed,11,684,118,None,NaN,1,10
106,offer completed,13,456,58,M,51000.0,7,2
113,offer completed,14,210,61,F,57000.0,2,10
118,offer completed,14,426,61,F,57000.0,1,10
126,offer completed,14,630,61,F,57000.0,9,5
132,offer completed,16,258,62,F,71000.0,7,2
138,offer completed,16,384,62,F,71000.0,6,3
142,offer completed,16,426,62,F,71000.0,6,3
146,offer completed,16,534,62,F,71000.0,6,3
188,offer completed,22,180,64,M,100000.0,5,5
196,offer completed,22,480,64,M,100000.0,5,5
200,offer completed,22,510,64,M,100000.0,1,10
216,offer completed,23,414,78,F,71000.0,7,2
226,offer completed,13432,30,88,F,53000.0,5,5
238,offer completed,13432,624,88,F,53000.0,5,5
243,offer completed,25,126,42,M,69000.0,7,2
247,offer completed,25,210,42,M,69000.0,2,10
252,offer completed,25,462,42,M,69000.0,7,2
262,offer completed,26,192,56,F,88000.0,5,5
263,offer completed,26,192,56,F,88000.0,10,2
...,...,...,...,...,...,...,...,...
306291,offer completed,7076,498,87,F,76000.0,6,3
306296,offer completed,7076,606,87,F,76000.0,10,2
306297,offer completed,7076,606,87,F,76000.0,4,5
306320,offer completed,10562,576,32,M,59000.0,1,10
306321,offer completed,10562,576,32,M,59000.0,1,10
306329,offer completed,10901,438,72,F,118000.0,9,5
306334,offer completed,10901,570,72,F,118000.0,7,2
306343,offer completed,12130,552,78,F,78000.0,4,5
306344,offer completed,12130,552,78,F,78000.0,2,10
306353,offer completed,12458,546,67,M,97000.0,10,2
306357,offer completed,12458,606,67,M,97000.0,5,5
306364,offer completed,12463,540,73,F,74000.0,5,5
306368,offer completed,12463,612,73,F,74000.0,2,10
306373,offer completed,12603,438,77,M,96000.0,5,5
306384,offer completed,13699,486,33,M,39000.0,10,2
306387,offer completed,13699,510,33,M,39000.0,2,10
306398,offer completed,14436,516,87,F,95000.0,7,2
306399,offer completed,14436,516,87,F,95000.0,1,10
306404,offer completed,14436,588,87,F,95000.0,7,2
306412,offer completed,14506,600,52,F,86000.0,7,2
306413,offer completed,14506,600,52,F,86000.0,4,5
306438,offer completed,15605,600,37,F,90000.0,9,5
306447,offer completed,15918,576,56,M,43000.0,4,5
306454,offer completed,16749,540,60,F,67000.0,4,5
306474,offer completed,9527,510,58,M,118000.0,9,5
306481,offer completed,9527,588,58,M,118000.0,2,10
306490,offer completed,915,678,118,None,NaN,4,5
306498,offer completed,2736,528,60,F,94000.0,9,5
306502,offer completed,2736,654,60,F,94000.0,6,3
306528,offer completed,2766,660,118,None,NaN,7,2

In [50]:
df_viewed.rename(columns={"time":"time_viewed"}, inplace=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [51]:
df_completed.rename(columns={"time":"time_completed"}, inplace=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [52]:
df_viewed

,event,user_id,time_viewed,age,gender,income,offer_id_viewed
1,offer viewed,4,6,75,F,100000.0,4
6,offer viewed,4,216,75,F,100000.0,8
11,offer viewed,4,408,75,F,100000.0,1
17,offer viewed,4,582,75,F,100000.0,9
19,offer viewed,5,6,118,None,NaN,5
23,offer viewed,5,336,118,None,NaN,3
28,offer viewed,5,624,118,None,NaN,5
30,offer viewed,6,18,68,M,70000.0,10
35,offer viewed,6,420,68,M,70000.0,4
37,offer viewed,6,522,68,M,70000.0,7
42,offer viewed,7,12,118,None,NaN,7
44,offer viewed,7,216,118,None,NaN,2
46,offer viewed,7,366,118,None,NaN,3
48,offer viewed,7,462,118,None,NaN,10
50,offer viewed,7,522,118,None,NaN,7
52,offer viewed,8,84,118,None,NaN,2
55,offer viewed,8,348,118,None,NaN,6
58,offer viewed,8,432,118,None,NaN,10
60,offer viewed,8,648,118,None,NaN,4
63,offer viewed,9,0,65,M,53000.0,9
67,offer viewed,9,192,65,M,53000.0,4
69,offer viewed,9,354,65,M,53000.0,10
71,offer viewed,9,438,65,M,53000.0,4
76,offer viewed,9,504,65,M,53000.0,9
78,offer viewed,9,588,65,M,53000.0,7
83,offer viewed,11,24,118,None,NaN,6
86,offer viewed,11,348,118,None,NaN,6
95,offer viewed,11,684,118,None,NaN,1
100,offer viewed,13,168,58,M,51000.0,6
103,offer viewed,13,348,58,M,51000.0,7
...,...,...,...,...,...,...,...
306417,offer viewed,5609,408,118,None,NaN,2
306419,offer viewed,5609,528,118,None,NaN,3
306423,offer viewed,5609,582,118,None,NaN,2
306430,offer viewed,15393,642,118,None,NaN,3
306432,offer viewed,15605,408,37,F,90000.0,3
306434,offer viewed,15605,522,37,F,90000.0,9
306436,offer viewed,15605,582,37,F,90000.0,3
306441,offer viewed,15918,414,56,M,43000.0,9
306444,offer viewed,15918,558,56,M,43000.0,6
306452,offer viewed,16749,522,60,F,67000.0,4
306459,offer viewed,16894,408,75,M,116000.0,6
306462,offer viewed,16894,618,75,M,116000.0,8
306468,offer viewed,8566,576,118,None,NaN,9
306475,offer viewed,9527,534,58,M,118000.0,9
306479,offer viewed,9527,582,58,M,118000.0,2
306487,offer viewed,915,606,118,None,NaN,4
306492,offer viewed,14366,534,81,F,94000.0,10
306494,offer viewed,573,504,75,M,75000.0,9
306496,offer viewed,2736,516,60,F,94000.0,9
306500,offer viewed,2736,594,60,F,94000.0,6
306505,offer viewed,8387,540,24,M,56000.0,1
306507,offer viewed,8387,630,24,M,56000.0,1
306510,offer viewed,10315,510,58,M,57000.0,1
306513,offer viewed,10315,582,58,M,57000.0,9
306517,offer viewed,14696,504,48,M,58000.0,2
306521,offer viewed,16140,504,47,M,94000.0,3
306523,offer viewed,16140,576,47,M,94000.0,2
306526,offer viewed,2766,588,118,None,NaN,7
306530,offer viewed,5105,594,118,None,NaN,2
306532,offer viewed,11904,576,58,F,78000.0,2

In [54]:
del df_viewed['age']
del df_viewed['gender']
del df_viewed['income']

In [56]:
df_viewed_copy = df_viewed.copy()

In [59]:
df_viewed_copy.rename(columns={'offer_id_viewed': 'offer_id_completed'}, inplace=True)

In [61]:
# This dataframe is only for individuals who viewed and completed the offer.

df_viewed_completed = df_viewed_copy.merge(df_completed, on=['user_id', 'offer_id_completed'])

In [62]:
df_viewed_completed

,event_x,user_id,time_viewed,offer_id_completed,event_y,time_completed,age,gender,income,reward
0,offer viewed,4,6,4,offer completed,132,75,F,100000.0,5
1,offer viewed,4,408,1,offer completed,510,75,F,100000.0,10
2,offer viewed,4,582,9,offer completed,510,75,F,100000.0,5
3,offer viewed,6,420,4,offer completed,522,68,M,70000.0,5
4,offer viewed,6,522,7,offer completed,522,68,M,70000.0,2
5,offer viewed,9,0,9,offer completed,60,65,M,53000.0,5
6,offer viewed,9,0,9,offer completed,600,65,M,53000.0,5
7,offer viewed,9,504,9,offer completed,60,65,M,53000.0,5
8,offer viewed,9,504,9,offer completed,600,65,M,53000.0,5
9,offer viewed,9,192,4,offer completed,498,65,M,53000.0,5
10,offer viewed,9,438,4,offer completed,498,65,M,53000.0,5
11,offer viewed,9,354,10,offer completed,498,65,M,53000.0,2
12,offer viewed,9,588,7,offer completed,600,65,M,53000.0,2
13,offer viewed,11,684,1,offer completed,684,118,None,NaN,10
14,offer viewed,13,348,7,offer completed,456,58,M,51000.0,2
15,offer viewed,14,168,2,offer completed,210,61,F,57000.0,10
16,offer viewed,14,432,1,offer completed,426,61,F,57000.0,10
17,offer viewed,14,612,9,offer completed,630,61,F,57000.0,5
18,offer viewed,16,168,7,offer completed,258,62,F,71000.0,2
19,offer viewed,16,582,7,offer completed,258,62,F,71000.0,2
20,offer viewed,16,336,6,offer completed,384,62,F,71000.0,3
21,offer viewed,16,336,6,offer completed,426,62,F,71000.0,3
22,offer viewed,16,336,6,offer completed,534,62,F,71000.0,3
23,offer viewed,16,426,6,offer completed,384,62,F,71000.0,3
24,offer viewed,16,426,6,offer completed,426,62,F,71000.0,3
25,offer viewed,16,426,6,offer completed,534,62,F,71000.0,3
26,offer viewed,22,102,1,offer completed,510,64,M,100000.0,10
27,offer viewed,22,510,1,offer completed,510,64,M,100000.0,10
28,offer viewed,22,174,5,offer completed,180,64,M,100000.0,5
29,offer viewed,22,174,5,offer completed,480,64,M,100000.0,5
...,...,...,...,...,...,...,...,...,...,...
37922,offer viewed,7076,456,6,offer completed,498,87,F,76000.0,3
37923,offer viewed,7076,504,10,offer completed,606,87,F,76000.0,2
37924,offer viewed,10562,504,1,offer completed,576,32,M,59000.0,10
37925,offer viewed,10562,504,1,offer completed,576,32,M,59000.0,10
37926,offer viewed,10562,588,1,offer completed,576,32,M,59000.0,10
37927,offer viewed,10562,588,1,offer completed,576,32,M,59000.0,10
37928,offer viewed,10901,426,9,offer completed,438,72,F,118000.0,5
37929,offer viewed,10901,570,7,offer completed,570,72,F,118000.0,2
37930,offer viewed,12130,516,2,offer completed,552,78,F,78000.0,10
37931,offer viewed,12458,522,10,offer completed,546,67,M,97000.0,2
37932,offer viewed,12458,594,5,offer completed,606,67,M,97000.0,5
37933,offer viewed,12463,582,2,offer completed,612,73,F,74000.0,10
37934,offer viewed,12603,420,5,offer completed,438,77,M,96000.0,5
37935,offer viewed,13699,456,10,offer completed,486,33,M,39000.0,2
37936,offer viewed,13699,528,2,offer completed,510,33,M,39000.0,10
37937,offer viewed,14436,408,7,offer completed,516,87,F,95000.0,2
37938,offer viewed,14436,408,7,offer completed,588,87,F,95000.0,2
37939,offer viewed,14436,576,7,offer completed,516,87,F,95000.0,2
37940,offer viewed,14436,576,7,offer completed,588,87,F,95000.0,2
37941,offer viewed,14436,504,1,offer completed,516,87,F,95000.0,10
37942,offer viewed,14506,546,7,offer completed,600,52,F,86000.0,2
37943,offer viewed,14506,582,4,offer completed,600,52,F,86000.0,5
37944,offer viewed,15605,522,9,offer completed,600,37,F,90000.0,5
37945,offer viewed,16749,522,4,offer completed,540,60,F,67000.0,5
37946,offer viewed,9527,534,9,offer completed,510,58,M,118000.0,5
37947,offer viewed,9527,582,2,offer completed,588,58,M,118000.0,10
37948,offer viewed,915,606,4,offer completed,678,118,None,NaN,5
37949,offer viewed,2736,516,9,offer completed,528,60,F,94000.0,5
37950,offer viewed,2736,594,6,offer completed,654,60,F,94000.0,3
37951,offer viewed,2766,588,7,offer completed,660,118,None,NaN,2

In [69]:
df_viewed_completed[df_viewed_completed['age'] > 95]

,event_x,user_id,time_viewed,offer_id_completed,event_y,time_completed,age,gender,income,reward
13,offer viewed,11,684,1,offer completed,684,118,None,NaN,10
46,offer viewed,27,414,7,offer completed,498,118,None,NaN,2
55,offer viewed,34,534,9,offer completed,612,96,F,89000.0,5
63,offer viewed,37,504,9,offer completed,594,118,None,NaN,5
66,offer viewed,40,378,9,offer completed,426,118,None,NaN,5
75,offer viewed,46,24,7,offer completed,96,118,None,NaN,2
193,offer viewed,97,0,7,offer completed,216,118,None,NaN,2
391,offer viewed,1305,336,6,offer completed,432,118,None,NaN,3
395,offer viewed,222,408,4,offer completed,558,118,None,NaN,5
466,offer viewed,254,354,6,offer completed,396,118,None,NaN,3
467,offer viewed,254,582,7,offer completed,672,118,None,NaN,2
520,offer viewed,284,6,7,offer completed,42,100,F,63000.0,2
521,offer viewed,284,504,9,offer completed,504,100,F,63000.0,5
578,offer viewed,1249,0,7,offer completed,48,118,None,NaN,2
608,offer viewed,339,510,10,offer completed,600,118,None,NaN,2
609,offer viewed,339,576,10,offer completed,600,118,None,NaN,2
675,offer viewed,376,30,10,offer completed,114,118,None,NaN,2
676,offer viewed,376,336,6,offer completed,354,118,None,NaN,3
677,offer viewed,376,336,6,offer completed,600,118,None,NaN,3
678,offer viewed,376,576,6,offer completed,354,118,None,NaN,3
679,offer viewed,376,576,6,offer completed,600,118,None,NaN,3
774,offer viewed,2664,6,6,offer completed,234,118,None,NaN,3
775,offer viewed,2664,174,6,offer completed,234,118,None,NaN,3
793,offer viewed,459,186,10,offer completed,288,118,None,NaN,2
809,offer viewed,468,180,6,offer completed,246,118,None,NaN,3
814,offer viewed,470,336,6,offer completed,378,118,None,NaN,3
815,offer viewed,470,552,4,offer completed,558,118,None,NaN,5
841,offer viewed,491,78,7,offer completed,204,118,None,NaN,2
878,offer viewed,3036,30,6,offer completed,60,118,None,NaN,3
879,offer viewed,3036,594,7,offer completed,624,118,None,NaN,2
...,...,...,...,...,...,...,...,...,...,...
37275,offer viewed,16750,576,10,offer completed,582,100,F,42000.0,2
37281,offer viewed,16821,186,7,offer completed,624,118,None,NaN,2
37282,offer viewed,16821,534,7,offer completed,624,118,None,NaN,2
37329,offer viewed,623,414,4,offer completed,432,118,None,NaN,5
37398,offer viewed,4421,342,6,offer completed,348,118,None,NaN,3
37446,offer viewed,13894,366,7,offer completed,498,118,None,NaN,2
37447,offer viewed,13894,456,10,offer completed,498,118,None,NaN,2
37458,offer viewed,4394,336,9,offer completed,348,99,F,85000.0,5
37459,offer viewed,4394,504,6,offer completed,618,99,F,85000.0,3
37460,offer viewed,4394,504,6,offer completed,618,99,F,85000.0,3
37461,offer viewed,4394,576,6,offer completed,618,99,F,85000.0,3
37462,offer viewed,4394,576,6,offer completed,618,99,F,85000.0,3
37470,offer viewed,14332,528,9,offer completed,594,118,None,NaN,5
37498,offer viewed,3559,426,4,offer completed,534,118,None,NaN,5
37531,offer viewed,7364,570,1,offer completed,600,118,None,NaN,10
37553,offer viewed,16038,438,6,offer completed,516,118,None,NaN,3
37556,offer viewed,1426,600,9,offer completed,618,118,None,NaN,5
37566,offer viewed,8542,576,6,offer completed,576,118,None,NaN,3
37609,offer viewed,12334,420,9,offer completed,510,118,None,NaN,5
37642,offer viewed,10424,510,10,offer completed,624,118,None,NaN,2
37672,offer viewed,868,588,9,offer completed,666,118,None,NaN,5
37706,offer viewed,3690,366,6,offer completed,534,118,None,NaN,3
37707,offer viewed,3690,504,6,offer completed,534,118,None,NaN,3
37788,offer viewed,8639,336,2,offer completed,408,96,F,55000.0,10
37789,offer viewed,8639,576,9,offer completed,684,96,F,55000.0,5
37839,offer viewed,13234,600,9,offer completed,618,118,None,NaN,5
37882,offer viewed,16090,504,6,offer completed,564,118,None,NaN,3
37908,offer viewed,707,504,7,offer completed,558,118,None,NaN,2
37948,offer viewed,915,606,4,offer completed,678,118,None,NaN,5
37951,offer viewed,2766,588,7,offer completed,660,118,None,NaN,2